@import "tailwindcss";
@tailwind utilities;

@theme {
  --breakpoint-xs: 470px;
}

html {
  background-color: var(--black);
  height: 100vh;
  scroll-behavior: smooth;
}
:root{
    --purple-accent: #b99ef6;
    --dark-purple: #252033;
    --bg-dark: #1A1625;
    --black: #1a191b;
}

::selection {
  background: #9d77f599;
  color: #000;        
}

*::-webkit-scrollbar {
  width: 10px;   
  height: 10px;  
}
*::-webkit-scrollbar-track {
  background: #1e1e1e;  
}
*::-webkit-scrollbar-thumb {
  background-color: #555;   
  border-radius: 5px;       
  border: 2px solid #1e1e1e; 
}
*::-webkit-scrollbar-thumb:hover {
  background-color: #888;   
}
* {
  scrollbar-width: thin;        
  scrollbar-color: #555 #1e1e1e;    
}

.section-wrapper{
  @apply w-full px-5 relative mx-auto text-white min-h-screen;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.main-wrapper{
  @apply w-[90vw] lg:w-[80vw] max-w-300 rounded-2xl mx-auto md:mt-2 py-20;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.inter-semibold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
.purple-text{
  color: var(--purple-accent);
}
.gray-shadow{
  -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); 
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}
.blur-effect{
  @apply bg-white/1 border-white/10 border-b backdrop-blur-sm rounded-bl-xl rounded-br-xl;
}
.bg-dark{
  background-color: var(--bg-dark);
}
.bg-black{
  background-color: var(--black);
}
.bg-dark-purple{
  background-color: var(--dark-purple);
}
.purple-bg{
  background-color: var(--purple-accent);
}
.purple-border{
  border-color: var(--purple-accent);
}
.form-style{
  @apply flex flex-col items-center justify-center h-full w-full text-center;
}
.input-style{
  @apply p-3 my-1.5 w-full rounded-md outline-none focus:ring-1 focus:ring-[#b99ef6] bg-white/10;
  font-family:  "Inter", sans-serif;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
.input-shadow{
   box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
.icon-style{
  @apply absolute cursor-pointer transition-transform active:scale-80;
}
.button-style{
  @apply rounded-xl text-xs font-bold py-3 px-12 tracking-wider uppercase transition-transform active:scale-95 hover:bg-[#b99ef6]/80;
  background-color: var(--purple-accent);
}
.button-style-underline{
  @apply pl-2 cursor-pointer hover:underline;
  color: var(--purple-accent);
}
.button-style-outline{
  @apply border rounded-xl py-3 px-12 font-bold uppercase text-xs tracking-wider active:scale-95 transition-transform cursor-pointer;
}
.li-style{
  @apply font-medium uppercase tracking-wider cursor-pointer active:scale-95;
}
.stats-style{
  @apply font-semibold flex p-5 rounded-xl flex-col items-center w-full sm:flex-1/3 md:w-47.5 xl:w-72.5 bg-white/5 min-w-50;
}
.addButton{
  @apply  py-3 bg-white/10 rounded-xl hover:bg-white/20 text-white cursor-pointer font-bold;
}
.addButtonActived{
  @apply py-3 rounded-xl text-[#1A1625] bg-[#b99ef6] hover:bg-[#b99ef6]/80 cursor-pointer font-bold;
}
.picker-style{
  @apply border p-2 rounded-md focus:outline-[#b99ef6] border-white/20 cursor-pointer bg-[#1a191b];
}
.password-page{
  @apply flex h-screen w-full flex-col text-white;
}
.password-page-main{
  @apply w-[90vw] md:w-[60vw] lg:w-[50vw] rounded-2xl h-min mx-auto p-5 md:p-10 max-w-175;
}